@model LMW.Models.Admin.CreateServiceModel

@{
    ViewBag.Title = "Tạo dịch vụ";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb clearfix">
            <li><i class="fa fa-cubes"></i> <a href="/Service/ListServiceGroups">Nhóm dịch vụ</a></li>
            <li><a href="/Service/ListServices?groupId=@Model.groupId">@Model.groupName</a></li>
            <li class="active"><span>Thêm dịch vụ</span></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Nhập thông tin dịch vụ</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.groupId)
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            @Html.EditorFor(model => model.serviceName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.serviceName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Đường dẫn icon</label>
                            @Html.EditorFor(model => model.iconURL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.iconURL, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <img id="icon-preview" height="45" />
                        </div>
                        <div class="form-group">
                            <label>Mô tả dịch vụ</label>
                            @Html.TextAreaFor(model => model.description, new { @class = "form-control", @rows = "4", @placeholder = "Mô tả dịch vụ" })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <input type="submit" value="Lưu thông tin" class="btn btn-success" style="width: 120px;" />
                    <input type="reset" value="Nhập lại" class="btn btn-default" style="width: 120px;" />
                    <a href="javascript:window.history.back();" class="btn btn-default" style="width: 120px;">Trở về</a>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
}

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#iconURL').change(function () {
                var iconURL = $('#iconURL').val();
                $('#icon-preview').attr('src', iconURL);
            });
        })

    </script>
}
